<html ng-app="Software">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="initial-scale=1" />
    <title>PharmApp</title>
</head>

<body layout="column" ng-controller="DoctorController">
    <md-toolbar style="background-color: rgba(10, 136, 109, 0.918)" class="md-primary">
        <h1 class="md-toolbar-tools"><i class="fa fa-user-md"></i>Supprimer un médecin</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form id="mdForm" name="mdForm" ng-submit="deleteMD()">

            <div class="block">
                <md-select placeholder="Liste des médecins" ng-model="_doctors">
                    <md-option ng-repeat="doctor in doctors" value="{{doctor.id}}">
                        {{doctor.prenom}} {{doctor.nom}} ({{doctor.cabinet}})
                    </md-option>
                </md-select>
            </div>

            <md-button style="background-color: rgba(10, 136, 109, 0.918)" class="md-raised md-primary" flex flex-md="100">Supprimer</md-button>

        </form>
    </md-content>

    <!-- Angular Material Dependencies -->
    <script src="../../../dist/angulars.min.js"></script>

    <script src="../../../app.js"></script>
    <script src="../../../js/script.js"></script>
    <script src="../../../js/controllers/DoctorController.js"></script>

    <script src="../../../js/services/MenuService.js"></script>
    <script src="../../../js/services/DisplayService.js"></script>
    <script src="../../../js/services/DatabaseService.js"></script>
    <script src="../../../js/services/StringService.js"></script>

</body>

</html>